body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
    padding: 0;
    margin: 20px;
    display: block;
}

p {
    display: inline;
    padding: 20px;
}
